
.jumbotron {
  /* padding: 20px 2rem 27px; */
  background: #E91E63;
  margin: 0 auto 25px;
  border-radius: 0;
}

.h1,
h1 {
  font-size: 20px;
  color: #fde4ed;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-weight: 600;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.mat-radio-button{
  padding-top: 20px;
}

/* label {
  width: 33px;
  height: 24px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #444444;
} */

.Bounds {
  width: 222px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
}


.mat-form-field {
    width:250px !important;
    height: 40px !important;
}
.mat-radio-button{
  width: 70px;
}
.mat-sel{
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.float-container {
    display: flex;
    margin-bottom: 20px;
}

.float-child {
    float: left;
    padding-right: 50px;
}  
/* .pos1 {
  position: relative;
  left: 30px;

}
.pos2 {
  position: relative;
  left: 14px;

} */
.button{
  text-align: center;
}
.error{
  color: red;
}

/* form{
  text-align: center;
} */