<!-- <form #form="ngForm" (ngSubmit)="submit(form)">
  <input type="text" value="id">
<input type="color" ngModel name="id" #id="ngModel" ><br>
<button type="">submit</button>
</form> -->

<!-- <form #form="ngForm" (ngSubmit)="submit(form)">
<input type="text" [value]="colorID">
<input type="color" name="id" [(ngModel)]="colorID" value="#ffffff"> <br> -->


    <!-- <form #form2> -->
        <div *ngFor="let dt of data;">
            <input type="text" [value]="dt.value">
            <input type="color" name="dt.value" [(ngModel)]="dt.value">
            <br>
            </div>
            <button (click)="submit2(data)">click</button>

    <!-- </form> -->